<iframe src="{{ include.src }}" class="general-iframe" style="position:relative;z-index:2"></iframe>

{% include spinner.html size="0.5" %}

<style media="screen">
  html {
    overflow: hidden;
  }
  .page-content {
    overflow: hidden;
  }
  .spinner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .general-iframe {
    width: 100%;
    height: calc(100vh + 4px);
    border: none;
    margin: -8px 0 0 0;
  }
  @media (max-width: 1040px) and (min-width: 600px) {
    .general-iframe {
      height: calc(100vh - 52px);
    }
  }
  @media (max-width: 750px) {
    .general-iframe {
      width: calc(100% + 27px);
      margin: -8px 0px 0 -5px;
    }
  }
</style>
