<div class="mdc-card mdc-ripple-surface oah-card" onclick="window.location.href='{{ include.card-href }}'">
  <h2>{{include.title}}</h2>
  <p class="course-date">Start date: {{include.start-date}}</p>
  {% if include.start-time %}<p class="course-time">Start time: {{include.start-time}}</p>{% else %} {% endif %}
  {% if include.counselor %}<p class="course-instructor-name">Counselor: {{include.counselor}}</p>{% else %} {% endif %}
  {% if include.instructor %}<p class="course-instructor-name">Instructor: {{include.instructor}}</p>{% else %} {% endif %}
  <img src="{{include.icon}}" alt="{{include.icon-alt-text}}">
</div>