{% if post.secure == "true" %}
  <article>
    <a href="{{ post.url | remove: '.sec' }}"><h2>{{ post.title }}&nbsp;<span class="material-icons" style="margin-bottom:4px;vertical-align:bottom;">lock</span></h2></a>
    <p>By <span class="post-card-author">{{ post.author }}</span> | <span class="post-card-date">{{ post.date | date: "%d %B %Y" }}</span></p>
    <a href="{{ post.url | remove: '.sec' }}" class="mdc-button mdc-button--outlined" style="margin-top: 0;">Read post</a>
  </article>
{% else %}
  <article>
    <a href="{{ post.url | remove: '.sec' }}"><h2>{{ post.title }}</h2></a>
    <p>By <span class="post-card-author">{{ post.author }}</span> | <span class="post-card-date">{{ post.date | date: "%d %B %Y" }}</span></p>
    <p>{{ post.excerpt | truncatewords: 30 }}</p>
    <a href="{{ post.url | remove: '.sec' }}" class="mdc-button mdc-button--outlined" style="margin-top: 0;">Read more</a>
  </article>
{% endif %}