{% assign sorted = site.[include.collection] | sort: 'nav_order' | where_exp: "item", "item.menu == hide" %}

{% if sorted.size == 1 %}
  {% for item in sorted %}
    <li><a href="{{ item.url | remove: '.sec' | remove: '.html' }}" class="sidenav-close">{{include.collection-label}}<span class="hide-small">{{include.collection-label-hide-small}}</span></a></li>
  {% endfor %}
{% endif %}

{% if sorted.size > 1 %}
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">{{include.collection-label}}<span class="hide-small">{{include.collection-label-hide-small}}</span><i class="material-icons drop-arrow">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            {% for item in sorted %}
              <li><a href="{{ item.url | remove: '.sec' | remove: '.html' }}">{{item.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </li>
{% endif %}
