
<div class="spinner" {% if include.size == '1' %}{% elsif include.size == '0.5' %}style="--spinner-size: 34px;--spinner-ball-size: 4.5px;"{% elsif include.size == '0.25' %}style="--spinner-size: 17px;--spinner-ball-size: 2.25px;"{% else %}{% endif %}><div class="wBall" id="wBall_1"><div class="wInnerBall"></div></div><div class="wBall" id="wBall_2"><div class="wInnerBall"></div></div><div class="wBall" id="wBall_3"><div class="wInnerBall"></div></div><div class="wBall" id="wBall_4"><div class="wInnerBall"></div></div><div class="wBall" id="wBall_5"><div class="wInnerBall"></div></div></div>