{% assign sorted = site.[include.collection] | sort: 'nav_order' | where_exp: "item", "item.menu == hide" %}

{% if sorted.size == 1 %}
  {% for item in sorted %}
    <li><a href="{{ item.url | remove: '.sec' | remove: '.html' }}">{{include.collection-label}}<span class="hide-small">{{include.collection-label-hide-small}}</span></a></li>
  {% endfor %}
{% endif %}

{% if sorted.size > 1 %}
  <li class="dropdown"><a href="javascript:void(0)" id="{{include.collection}}">{{include.collection-label}}<span class="hide-small">{{include.collection-label-hide-small}}</span></a>
    <ul>
      {% for item in sorted %}
        <li><a href="{{ item.url | remove: '.sec' | remove: '.html' }}">{{item.title}}</a></li>
      {% endfor %}
    </ul>
  </li>
{% endif %}
