---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" type="image/x-icon" href="/src/troop370-logo/favicon.ico">
  <title>Posts & Updates Manager | {{ site.title }}</title>
  <!--login-page-->
  <style>
    section[class*="StyledAuthenticationPage"] {
      background-color: #003f87;
    }
    img[alt="Logo"] {
      margin-top: -50px;
    }
    button[class*="-LoginButton-"] {
      background: #fca326;
      color: black;
      font-weight: 600;
      border-radius: 0;
      text-transform: uppercase;
    }
    button[class*="-LoginButton-"]:hover {
      background: #ff9500;
      color: black;
    }
    button[class*="-LoginButton-"]:active {
      background: #e08300;
      color: black;
    }
    button[class*="-LoginButton-"]:focus {
      background: #fca326;
      color: black;
      outline: 2px solid #fca326;
      outline-offset: 2px;
    }
    span[class*="-NetlifyCreditIcon"] {
      display: none;
    }
  </style>
  <!--loading-page-->
  <style>
  div[class*="-StyledLoader"] {
    height: 100vh;
    width: 100vw;
    background-color: #003f87;
  }
  div[class*="-StyledLoader"]::before, div[class*="-StyledLoader"]::after {
    top: 46%;
  }
  div[class*="-StyledLoader"]::before {
    border-color: transparent;
  }
  div[class*="-StyledLoader"]::after {
    border-color: rgb(255, 255, 255) transparent transparent;
  }
  div[class*="-LoaderText"] {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%) translateY(-46%);
    padding-top: 20px;
    color: #e0e0e0;
  }
  </style>
</head>
<body>
  <!-- Include the script that builds the page and powers Netlify CMS -->
  <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
</body>
</html>
