.md-page-content {
  padding: $content-strip-padding-y $content-strip-padding-x 0;
  border-bottom: 1px solid $content-strip-background-bottom-border-color;
  .columns {
    columns: var(--column-width) var(--column-count);
    column-gap: calc(2* $content-strip-padding-x);
    max-width: $content-width;
    margin: auto;
  }
  .content-strip-md {
    padding: 0 0 $content-strip-padding-y 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  img {
    max-width: calc(100% - 20px);
  }
  hr {
    border: none;
    padding-top: calc(25px);
    &::before {
      content: '';
      width: 100vw;
      border-bottom: 1px solid $content-strip-background-bottom-border-color;;
      display: block;
      position: absolute;
      left: 0;
      margin-top: 7px;
    }
  }
}
.content-strip {
  padding: $content-strip-padding-y $content-strip-padding-x;
  display: flex;
  justify-content: center;
  background-color: $mdc-theme-background;
  color: $mdc-theme-on-background;
  @media (max-width: $breakpoint-mobile) {
    padding: $content-strip-padding-bm-y $content-strip-padding-x;
  }
  .flex-item {
    width: $content-width;
  }
  h1, h2, h3, h4, h5, h6 {
    &, p, .mdc-button {
      margin: $content-strip-item-margin-y $content-strip-item-margin-x;
      line-height: 1.5 !important;
    }
    &+p {
      margin: calc(2 * #{$content-strip-item-margin-y}) $content-strip-item-margin-x;
    }
  }
  p, .mdc-button {
    margin: calc(3 * #{$content-strip-item-margin-y}) $content-strip-item-margin-x;
  }
  ul {
    list-style-type: disc;
    padding-inline-start: 20px;
  }
  ol {
    list-style-type: decimal;
    padding-inline-start: 20px;
  }
  span.indent {
    padding-inline-start: 36px;
    &--new-line {
      padding-inline-start: 36px;
      display: block;
    }
  }
  a:not(.mdc-button):not(.event-card-a) {
    text-decoration: underline;
    text-decoration-color: inherit;
    color: inherit;
    &:hover {
      background-color: #80808033;
    }
    &:active {
      background-color: #80808066;
    }
  }
  .mdc-text-field {
    margin: $content-strip-item-margin-y 0;
  }
  .mdc-button {
    @include mdc-button-outline-width(1px);
    margin-right: 6px;
    &:last-of-type {
      margin-right: 0;
    }
    &--raised {
      @include mdc-button-ink-color($button-filled-text-color);
    }
    &--outlined {
      @include mdc-button-outline-color($button-outlined-on-background-outline);
    }
    &:not(.mdc-button--outlined) {
      margin: 0 0 0 -15px;
    }
  }
  &--primary {
    background-color: $content-strip-primary-background;
    color: $mdc-theme-on-primary;
    .mdc-button {
      @include button-color($button-on-primary);
      @include mdc-button-ink-color($button-on-primary);
      &--outlined {
        @include mdc-button-outline-color($button-outlined-on-primary-outline);
      }
    }
    &-light {
      background-color: lighten($mdc-theme-primary, 64%);
      color: unset;
    }
    &:not(.content-strip--no-bottom-padding) {
      border-bottom: 1px solid $content-strip-primary-bottom-border-color;
    }
  }
  &--secondary {
    background-color: $content-strip-secondary-background;
    color: $mdc-theme-on-secondary;
    .mdc-button {
      @include button-color($button-on-secondary);
      @include mdc-button-ink-color($button-on-secondary);
      &--outlined {
        @include mdc-button-outline-color($button-outlined-on-secondary-outline);
      }
    }
    &-light {
      background-color: lighten($mdc-theme-secondary, 54%);
      .mdc-button {
        @include button-color($mdc-theme-secondary);
      }
    }
    &:not(.content-strip--no-bottom-padding) {
      border-bottom: 1px solid $content-strip-secondary-bottom-border-color;
    }
  }
  &--extra-padding {
    padding: $content-strip-padding-y-extra $content-strip-padding-x;
    @media (max-width: $breakpoint-mobile) {
      padding: $content-strip-padding-bm-y-extra $content-strip-padding-x;
    }
  }
  &--reduced-padding {
    padding: $content-strip-padding-y-reduced $content-strip-padding-x;
  }
  &--min-padding {
    padding: $content-strip-padding-y-min $content-strip-padding-x;
  }
  &--no-bottom-padding {
    padding-bottom: 0;
  }
  &--center {
    text-align: center;
  }
  &:not(.content-strip--no-bottom-padding):not(.content-strip-md) {
    border-bottom: 1px solid $content-strip-background-bottom-border-color;
  }
  h1, .mdc-typography--headline4 {
    @include mdc-typography(map-get($content-strip-heading-headline-size, h1));
    @media (max-width: $breakpoint-mobile) {
      font-size: 1.8rem;
    }
  }
  h2, .mdc-typography--headline5 {
    @include mdc-typography(map-get($content-strip-heading-headline-size, h2));
    @media (max-width: $breakpoint-mobile) {
      font-size: 1.4rem;
    }
  }
  h3, .mdc-typography--headline6 {
    @include mdc-typography(map-get($content-strip-heading-headline-size, h3));
  }
  h4 {
    @include mdc-typography(map-get($content-strip-heading-headline-size, h4));
  }
  h5 {
    @include mdc-typography(map-get($content-strip-heading-headline-size, h5));
  }
  h6 {
    @include mdc-typography(map-get($content-strip-heading-headline-size, h6));
  }
  .event {
    &-card {
      width: $event-card-width;
      margin: $event-card-margin;
      display: inline-flex;
      vertical-align: top;
      @media (max-width: $breakpoint-middle) {
        width: $event-card-width-middle;
      }
      @media (max-width: $breakpoint-mobile) {
        width: $event-card-width-mobile;
      }
      &-image {
        height: $event-card-image-height;
        background-position: center;
        background-repeat: non-repeat;
        background-size: cover;
      }
      &-content {
        padding: $event-card-content-padding;
      }
      &-a {
        text-decoration: none;
        display: contents;
        color: inherit;
      }
    }
  }
}
.col-1, .col-2 {
  float: left;
  width: 50%;
  @media (max-width: $breakpoint-middle) {
    width: 100%;
  }
  .content-strip {
    justify-content: flex-start;
    .flex-item {
      width: unset;
    }
  }
}
