.post.content-strip {
  .post-list-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }
  article {
    border: 1px solid rgba($mdc-theme-on-background,0.2);
    padding: 20px;
    margin: 10px 0;
    a {
      text-decoration: none !important;
      &:hover {
        color: $mdc-theme-primary;
        text-decoration: underline !important;
      }
      &:active {
        color: rgba($mdc-theme-primary, 0.8);
        text-decoration: underline !important;
      }
      > h2 {
        font-size: 28px;
        display: inline-block;
        line-height: 1.2 !important;
      }
    }
    > p:first-of-type {
      font-size: 14px;
      letter-spacing: normal;
      margin-top: 2px;
      opacity: 0.9;
    }
  }
  .post-sidebar {
    @media (max-width: 900px) {
      grid-row-start: 1;
      overflow: hidden;
    }
  }
  .post-sidebar-div {
    border: 1px solid rgba($mdc-theme-on-background,0.2);
    padding: 20px;
    margin: 10px 0;
    .mdc-button {
      &.category-button {
        @media (min-width: 901px) {
          width: calc(100% + 40px);
          text-align: left;
          justify-content: left;
          margin-left: -20px;
          padding: 0 20px;
        }
        height: 32px;
        text-transform: lowercase;
        font-family: roboto;
        font-weight: 500;
        @media (max-width: 900px) {
          margin-left: 0;
          padding: 0 6px;
          min-width: unset;
        }
      }
    }
  }
  @media (min-width: 901px) {
    .post-dot-desktop-only {
      display: none;
    }
  }
  @media (max-width: 900px) {
    .categories-container {
      h3 {
        display: none;
      }
    }
    .newsletter-prompt {
      display: none;
      h3 {
        display: inline-block;
        height: 36px;
        line-height: 36px;
      }
      p {
        display: none;
      }
      a {
        margin: 0;
        float: right;
        border: none;
      }
    }
  }
}
