html, body, h1, h2, h3, h4, h5, h6, p, a, button, ul, ol {
  background: unset;
  &:not(a) {
    color: unset;
    border: unset;
    @include mdc-typography(body1);
  }
}
html {
  background-color: $mdc-theme-background;
  overflow-x: hidden;
}
html, body, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}
@media (max-width: $breakpoint-mobile) {
  input, textarea, button, select, a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  html, a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
canvas#topbar {
    margin-top: 53px;
}
.page-content {
  /*height: calc(100vh - 56px);
  overflow: auto;*/
  background: $mdc-theme-background;
}
.mdc-button {
  @include mdc-button-shape-radius(0px);
  @include mdc-states-hover-opacity($states-hover-opacity !important);
  @include mdc-states-focus-opacity($states-focus-opacity !important);
  @include mdc-states-press-opacity($states-press-opacity !important);
}
.mdc-text-field {
  @include mdc-text-field-ink-color($mdc-theme-on-background);
  @include mdc-text-field-label-color(rgba($mdc-theme-on-background,.6));
  @include mdc-text-field-caret-color(rgba($mdc-theme-on-background,.6));
  @include mdc-text-field-outline-color(rgba($mdc-theme-on-background,.24));
  @include mdc-text-field-hover-outline-color(rgba($mdc-theme-on-background,.87));
  @include mdc-text-field-focused-outline-color($mdc-theme-primary);
  @include mdc-text-field-outline-shape-radius(0);
  &--focused:not(.mdc-text-field--disabled) {
    .mdc-floating-label--float-above {
      @include mdc-floating-label-ink-color($mdc-theme-primary);
    }
  }
}
.mdc-ripple-surface {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  @include mdc-states-base-color($mdc-theme-primary);
  @include mdc-states-hover-opacity($states-hover-opacity);
  @include mdc-states-focus-opacity($states-focus-opacity);
  @include mdc-states-press-opacity($states-press-opacity);
  overflow:hidden;
}
.mdc-card {
  @include mdc-card-shape-radius($card-shape-radius);
}
.mdc-tab {
  @include mdc-tab-text-label-color($mdc-theme-on-primary);
  @include mdc-tab-active-text-label-color($mdc-theme-on-primary);
  @include mdc-tab-indicator-underline-color($mdc-theme-on-primary);
  @include mdc-tab-states-color($mdc-theme-on-primary);
  @include mdc-states-hover-opacity($states-hover-opacity);
  @include mdc-states-focus-opacity($states-focus-opacity);
  @include mdc-states-press-opacity($states-press-opacity);
  padding-left: 8px;
  padding-right: 8px;
  @media (max-width: $breakpoint-mobile) {
    @include mdc-tab-text-label-color($mdc-theme-on-background);
    @include mdc-tab-active-text-label-color($mdc-theme-primary);
    @include mdc-tab-indicator-underline-color($mdc-theme-primary);
    @include mdc-tab-states-color($mdc-theme-primary);
  }
}
