---
layout: post-list
long_title: Posts & Announcements
---
{% if page.paginator %}

  <!-- Pagination is active -->
  {% assign paginator = page.paginator %}

  {% if paginator.previous_page != nil or paginator.next_page != nil %}
    <!-- Show page number if we have multiple pages -->
    <div class="post-sidebar-div">
      <p style="margin:0">Only displaying pages from category &ldquo;{{ page.title }}&rdquo; | Page {{ paginator.page }} out of {{ paginator.total_pages }} | <a href="/posts">Show all pages</a></p>
    </div>
  {% else %}
    <!-- No page number if we only have a single page -->
    <div class="post-sidebar-div">
      <p style="margin:0">Only displaying pages from category &ldquo;{{ page.title }}&rdquo; | <a href="/posts">Show all pages</a></p>
    </div>
  {% endif %}

  <section>
    <!-- Show post excerpts for the current page -->
    {% for post in paginator.posts limit:paginator.per_page %}
      {% include post-card.html %}
    {% endfor %}
  </section>
  <!-- Show navigation next/previous page links if applicable -->
  <nav><p>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}" class="mdc-button"><span class="material-icons">keyboard_backspace</span>&nbsp;Newer</a>{% endif %}
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}" class="mdc-button">Older&nbsp;<span class="material-icons" style="transform:rotate(180deg);">keyboard_backspace</span></a>{% endif %}
  </p></nav>

{% else %}

  <!-- Pagination is not active -->
  <div class="post-sidebar-div">
    <p style="margin:0">Only displaying pages from category &ldquo;{{ page.title }}&rdquo; | <a href="/posts">Show all pages</a></p>
  </div>

  <section>
    <!-- Show excerpts for all posts in this category -->
    {% for post in page.posts %}
      {% include post-card.html %}
    {% endfor %}
  </section>

{% endif %}