<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include layout-components/head.html %}
  <body>
    {% include layout-components/sidenav.html %}
    {% include layout-components/topnav.html %}
    <div class="page-content">
      {{ content }}
      {% include layout-components/page-content-scripts.html %}
    </div>
    {% include layout-components/scripts.html %}
  </body>
</html>
