<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include layout-components/head.html %}
  <body>
    {% include layout-components/sidenav.html %}
    {% include layout-components/topnav.html %}
    <div class="page-content">
      <style media="screen">
        .md-page-content {
          --column-count: {{ page.columns }};
          --column-width: {% if page.columns == 2 %}490px;{% elsif page.columns == 3 %}389px;{% else %}{% endif %}
        }
      </style>
      {% if page.long_title %}
        <div class="content-strip content-strip--primary content-strip--extra-padding content-strip--center">
          <div class="flex-item">
            <h1>{{ page.long_title }}</h1>
            {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
          </div>
        </div>
      {% elsif page.show_title != false %}
        <div class="content-strip content-strip--primary content-strip--extra-padding content-strip--center">
          <div class="flex-item">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
          </div>
        </div>
      {% else %}{% endif %}
      {% if page.alert %}
        <div class="content-strip content-strip--secondary md-alert"><div class="flex-item"><p>{{ page.alert }}</p></div></div>
      {% else %}{% endif %}
      <div class="md-page-content">
        <div class="columns">
          {% if page.headings == false %}
            <div class="content-strip content-strip-md">
              <div class="flex-item">
                {{ content }}
              </div>
            </div>
          {% elsif page.headings == "false" %}
            <div class="content-strip content-strip-md">
              <div class="flex-item">
                {{ content }}
              </div>
            </div>
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      </div>
      {% if page.merit_badge == true %}
        <div class="content-strip">
          <div class="flex-item">
            <div class="tmd-table-wrapper">
              <h2 class="tmd-table-header">Class Files</h2>
              <table id="filesTable" class="tmd-table">
                <tbody>
                  <tr class="tmd-table-header_row">
                    <th class="th-name">File name</th>
                    <th class="th-date">Date added</th>
                    <th class="th-type">Type</th>
                    <th class="th-size">Size</th>
                  </tr>
                  <tr id="filesTableLoading"><th colspan="4">
                    {% include spinner.html size="0.5" %}
                  </th></tr>
                  <style>
                    #filesTableLoading>th {
                      color: rgba(124, 124, 124, 1);
                      font-weight: 500;
                      height: 144px;
                    }
                  </style>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% else %}{% endif %}
      {% include layout-components/page-content-scripts.html %}
    </div>
    {% include layout-components/scripts.html %}
  </body>
</html>
