---
layout: default
---
<div class="content-strip content-strip--primary content-strip--extra-padding content-strip--center">
  <div class="flex-item">
    <h1>{% if page.long_title %}{{ page.long_title }}{% else %}{{ page.title }}{% endif %}</h1>
  </div>
</div>
<div class="content-strip post">
  <div class="flex-item">
    <div class="post-list-grid">
      <div>
        {{ content }}
      </div>
      <div class="post-sidebar">
        <div class="post-sidebar-div newsletter-prompt">
          <h3>Troop 370 Newsletter</h3>
          <p>Sign up for BSA Troop 370's email newsletter for weekly updates, Eagle Court of Honor announcements, merit badge announcements, and other additional notices and opportunities</p>
          <a href="/members/communication.html" class="mdc-button mdc-button--outlined">Sign up</a>
        </div>
        <div class="post-sidebar-div categories-container">
          <h3>Categories</h3>
          <a href="/posts" class="mdc-button category-button">All pages</a>
          {% for category in site.categories %}
            <span class="post-dot-desktop-only">•</span><a href="/posts/{{ category[0] | slugify }}" class="mdc-button category-button">{{ category[0] }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>